:root {
  --color-primary: #000612;
  --color-btn: #f7fbfb;
  --heading-font-family: "Plus Jakarta Sans", sans-serif;
  --heading-weight: 400;
  --heading-color: #f7fbfb;
}

section {
  border: 1px dotted white;
}

.container {
  max-width: 1260px;
  margin-inline: auto;
}

.section-dark {
  background-color: var(--color-primary);
  color: white;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-btn);
  color: var(--color-primary);
  border-radius: 0.375rem;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-weight);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

.flow > h1 + p,
.flow > h2 + p,
.flow > h3 + p {
  margin-top: 24px;
}

.flow > p + a {
  margin-top: 24px;
}

.text-measure > h2 {
  max-width: 56ch;
  margin-inline: auto;
}

.text-measure > p {
  max-width: 56ch;
  margin-inline: auto;
}
